@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* body {
  max-width: 1920px;
}
* body header {
  position: relative;
  height: 831px;
  max-width: 1920px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  * body header {
    width: 100vw;
  }
}
@media screen and (max-width: 360px) {
  * body header {
    width: 360px;
    height: 488px;
  }
}
* body header .logo {
  display: block;
  width: 181.84px;
  cursor: pointer;
}
@media screen and (max-width: 360px) {
  * body header .logo {
    width: 133px;
  }
}
* body header .black-logo {
  display: none;
}
* body header .header__navigation {
  font-family: "Roboto";
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
  position: absolute;
  width: 1168px;
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 181.58px;
  margin: 0 auto;
  padding: 28.88px 0;
}
@media screen and (max-width: 1280px) {
  * body header .header__navigation {
    column-gap: 7vw;
  }
}
@media screen and (max-width: 1024px) {
  * body header .header__navigation {
    width: 100%;
    column-gap: 82.58px;
  }
}
@media screen and (max-width: 930px) {
  * body header .header__navigation {
    column-gap: 3vw;
    justify-content: space-around;
  }
}
@media screen and (max-width: 360px) {
  * body header .header__navigation {
    font-family: "Roboto";
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 30.72px;
    padding: 33px 20px;
    column-gap: 63px;
    justify-content: center;
  }
}
* body header .header__navigation a {
  cursor: pointer;
  height: 28px;
  font-family: "Roboto";
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
  text-decoration: none;
  transition: 0.5s;
  position: relative;
}
* body header .header__navigation a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 1px;
  background: white;
  transition: 0.5s;
}
* body header .header__navigation a:hover::after {
  width: 100%;
}
@media screen and (max-width: 360px) {
  * body header .header__navigation a {
    text-wrap: nowrap;
  }
}
* body header .header__navigation .header__items {
  display: flex;
}
@media screen and (max-width: 930px) {
  * body header .header__navigation .header__items {
    display: none;
  }
}
* body header .header__navigation .header__items a:not(:last-child) {
  margin-right: 50px;
  white-space: nowrap;
}
@media screen and (max-width: 1024px) {
  * body header .header__navigation .header__items a:not(:last-child) {
    margin-right: 30px;
  }
}
* body header .header_fixed {
  backdrop-filter: blur(5px);
  position: fixed;
  background-color: rgba(243, 239, 232, 0.6);
  font-family: "Roboto";
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
  z-index: 100;
}
* body header .header_fixed a {
  font-family: "Roboto";
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
}
* body header .header_fixed a::after {
  background-color: black;
}
* body header .header__banner {
  width: 100%;
  height: 831px;
  background-image: url(./images/header-img.webp);
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 360px) {
  * body header .header__banner {
    height: 491px;
  }
}
* body header .header__banner .header__title {
  font-family: "Roboto";
  color: white;
  font-size: 96px;
  font-weight: 700;
  line-height: 104.64px;
  width: 768px;
  text-align: center;
  margin-top: 207px;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 930px) {
  * body header .header__banner .header__title {
    font-size: 11vw;
    width: 80vw;
  }
}
@media screen and (max-width: 360px) {
  * body header .header__banner .header__title {
    font-family: "Roboto";
    color: white;
    font-size: 32px;
    font-weight: 700;
    line-height: 39.08px;
    width: 360px;
    margin-top: 143px;
  }
}
* body header .header__banner .header__subtitle {
  font-family: "Roboto";
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
  width: 562px;
  text-align: center;
  margin-top: 50px;
}
@media screen and (max-width: 1024px) {
  * body header .header__banner .header__subtitle {
    width: 442px;
  }
}
@media screen and (max-width: 930px) {
  * body header .header__banner .header__subtitle {
    width: 80vw;
  }
}
@media screen and (max-width: 360px) {
  * body header .header__banner .header__subtitle {
    font-family: "Roboto";
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.72px;
    width: 310px;
    margin-top: 40px;
  }
}
* body header .header__banner .header__button {
  font-family: "Roboto";
  color: black;
  font-size: 17px;
  font-weight: 400;
  line-height: 24.14px;
  background-color: white;
  border: none;
  padding: 5px 20px;
  margin-top: 50px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
* body header .header__banner .header__button:hover {
  background-color: #EFA501;
  color: white;
}
* body header .header__banner .header__button:active {
  background-color: #F8E6BE;
  color: black;
}
@media screen and (max-width: 360px) {
  * body header .header__banner .header__button {
    font-family: "Roboto";
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
    margin-top: 40px;
  }
}
* body .main {
  background-color: #F9F7F4;
}
* body .main .block-title {
  font-family: "Roboto";
  color: black;
  font-size: 59px;
  font-weight: 700;
  line-height: 73.16px;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 620px) {
  * body .main .block-title {
    font-size: 40px;
  }
}
@media screen and (max-width: 420px) {
  * body .main .block-title {
    font-size: 36px;
  }
}
@media screen and (max-width: 360px) {
  * body .main .block-title {
    font-family: "Roboto";
    color: black;
    font-size: 34px;
    font-weight: 700;
    line-height: 38.08px;
    width: 318px;
    margin: 0 auto 20px;
    letter-spacing: 0.06rem;
  }
}
* body .main .block-subtitle {
  font-family: "Roboto";
  color: #A6A6A6;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
  text-align: center;
  width: 418px;
  margin: auto;
}
@media screen and (max-width: 930px) {
  * body .main .block-subtitle {
    width: 80vw;
  }
}
@media screen and (max-width: 360px) {
  * body .main .block-subtitle {
    font-family: "Roboto";
    color: #A6A6A6;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
    width: 318px;
  }
}
* body .main .list {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 135px 0;
}
@media screen and (max-width: 1280px) {
  * body .main .list {
    width: 1000px;
  }
}
@media screen and (max-width: 1024px) {
  * body .main .list {
    width: 918px;
  }
}
@media screen and (max-width: 930px) {
  * body .main .list {
    width: 800px;
  }
}
@media screen and (max-width: 800px) {
  * body .main .list {
    width: 95vw;
  }
}
@media screen and (max-width: 360px) {
  * body .main .list {
    padding: 77px 0;
    width: 360px;
  }
}
* body .main .list .list__title {
  font-family: "Roboto";
  color: black;
  font-size: 59px;
  font-weight: 700;
  line-height: 73.16px;
  text-align: center;
}
@media screen and (max-width: 930px) {
  * body .main .list .list__title {
    font-size: 8vw;
  }
}
@media screen and (max-width: 360px) {
  * body .main .list .list__title {
    font-family: "Roboto";
    color: black;
    font-size: 34px;
    font-weight: 700;
    line-height: 38.08px;
    width: 360px;
    letter-spacing: 0.05rem;
  }
}
* body .main .list .list__tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 35px;
}
@media screen and (max-width: 510px) {
  * body .main .list .list__tabs {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 360px) {
  * body .main .list .list__tabs {
    width: 330px;
    margin: 30px auto 58px;
  }
}
* body .main .list .list__tabs p:not(:last-child) {
  margin-right: 30px;
}
@media screen and (max-width: 700px) {
  * body .main .list .list__tabs p:not(:last-child) {
    margin-right: 15px;
  }
}
@media screen and (max-width: 360px) {
  * body .main .list .list__tabs p:not(:last-child) {
    margin-right: 10px;
  }
}
* body .main .list .list__tabs .tab {
  font-family: "Roboto";
  color: black;
  font-size: 23px;
  font-weight: 700;
  line-height: 28.06px;
  cursor: pointer;
  position: relative;
}
@media screen and (max-width: 700px) {
  * body .main .list .list__tabs .tab {
    font-size: 3vw;
  }
}
@media screen and (max-width: 510px) {
  * body .main .list .list__tabs .tab {
    font-size: 5vw;
  }
}
@media screen and (max-width: 360px) {
  * body .main .list .list__tabs .tab {
    font-family: "Roboto";
    color: black;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.72px;
    height: 23px;
    padding: 0;
  }
}
* body .main .list .list__tabs .tab::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 1px;
  background: black;
  transition: 0.5s;
}
* body .main .list .list__tabs .tab:hover::after {
  width: 100%;
}
* body .main .list .list__tabs .tab-active {
  font-family: "Roboto";
  color: #EFA501;
  font-size: 23px;
  font-weight: 700;
  line-height: 28.06px;
  border-bottom: 2px solid #EFA501;
  cursor: pointer;
  padding-bottom: 6px;
}
@media screen and (max-width: 700px) {
  * body .main .list .list__tabs .tab-active {
    font-size: 3vw;
  }
}
@media screen and (max-width: 510px) {
  * body .main .list .list__tabs .tab-active {
    font-size: 5vw;
  }
}
@media screen and (max-width: 360px) {
  * body .main .list .list__tabs .tab-active {
    font-family: "Roboto";
    color: #EFA501;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.72px;
    border-bottom: none;
    text-decoration: underline;
  }
}
* body .main .list .list__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 30px;
}
@media screen and (max-width: 1280px) {
  * body .main .list .list__grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3vw;
  }
}
@media screen and (max-width: 1024px) {
  * body .main .list .list__grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 18px;
    column-gap: 18px;
  }
}
@media screen and (max-width: 930px) {
  * body .main .list .list__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 360px) {
  * body .main .list .list__grid {
    row-gap: 18px;
  }
}
* body .main .list .list__grid .list__item {
  width: 370px;
  height: 531px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 50px;
}
@media screen and (max-width: 1280px) {
  * body .main .list .list__grid .list__item {
    width: 35vw;
  }
}
@media screen and (max-width: 1024px) {
  * body .main .list .list__grid .list__item {
    width: 450px;
  }
}
@media screen and (max-width: 930px) {
  * body .main .list .list__grid .list__item {
    width: 90vw;
  }
}
@media screen and (max-width: 360px) {
  * body .main .list .list__grid .list__item {
    width: 318px;
    height: 318px;
    margin: auto;
    border-radius: 20px;
  }
}
* body .main .list .list__grid .list__item:hover .list__image {
  transform: scale(1.2);
  transition: all 300ms ease-in;
}
* body .main .list .list__grid .list__item:hover .list__btn {
  background-color: #286562;
  border-radius: 50px;
}
* body .main .list .list__grid .list__item .list__image {
  width: 370px;
  height: 531px;
  border-radius: 50px;
  transition: all 300ms ease-out;
}
@media screen and (max-width: 1280px) {
  * body .main .list .list__grid .list__item .list__image {
    width: 35vw;
  }
}
@media screen and (max-width: 1024px) {
  * body .main .list .list__grid .list__item .list__image {
    width: 450px;
    object-fit: cover;
  }
}
@media screen and (max-width: 930px) {
  * body .main .list .list__grid .list__item .list__image {
    width: 90vw;
  }
}
@media screen and (max-width: 360px) {
  * body .main .list .list__grid .list__item .list__image {
    width: 318px;
    height: 318px;
    border-radius: 20px;
  }
}
* body .main .list .list__grid .list__item .list__absolute {
  width: 370px;
  height: 531px;
  position: absolute;
  border-radius: 50px;
  top: 0;
  left: 0;
  padding: 50px;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
}
@media screen and (max-width: 1280px) {
  * body .main .list .list__grid .list__item .list__absolute {
    width: 35vw;
  }
}
@media screen and (max-width: 1024px) {
  * body .main .list .list__grid .list__item .list__absolute {
    width: 450px;
  }
}
@media screen and (max-width: 930px) {
  * body .main .list .list__grid .list__item .list__absolute {
    width: 90vw;
  }
}
@media screen and (max-width: 360px) {
  * body .main .list .list__grid .list__item .list__absolute {
    width: 318px;
    height: 318px;
    border-radius: 20px;
    padding: 25px;
  }
}
* body .main .list .list__grid .list__item .list__absolute .list__subtitle {
  font-family: "Roboto";
  color: white;
  font-size: 35px;
  font-weight: 500;
  line-height: 42.7px;
  margin-bottom: 16px;
}
@media screen and (max-width: 360px) {
  * body .main .list .list__grid .list__item .list__absolute .list__subtitle {
    font-family: "Roboto";
    color: white;
    font-size: 23px;
    font-weight: 500;
    line-height: 27.6px;
    margin-bottom: 13px;
    letter-spacing: 0.06rem;
  }
}
* body .main .list .list__grid .list__item .list__absolute .list__price {
  font-family: "Roboto";
  color: white;
  font-size: 17px;
  font-weight: 400;
  line-height: 24.14px;
}
@media screen and (max-width: 360px) {
  * body .main .list .list__grid .list__item .list__absolute .list__price {
    font-family: "Roboto";
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.72px;
  }
}
* body .main .list .list__grid .list__item .list__btn {
  position: absolute;
  bottom: 43px;
  left: 30px;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  width: 199px;
  padding: 7px 20px;
  cursor: pointer;
  transition: 0.5s;
}
@media screen and (max-width: 360px) {
  * body .main .list .list__grid .list__item .list__btn {
    width: 123px;
    bottom: 26px;
    left: 25px;
    padding: 0;
  }
}
* body .main .list .list__grid .list__item .list__btn:hover {
  background-color: #286562;
  border-radius: 50px;
}
@media screen and (max-width: 360px) {
  * body .main .list .list__grid .list__item .list__btn:hover {
    background-color: transparent;
  }
}
* body .main .list .list__grid .list__item .list__btn:active {
  background-color: #EFA501;
}
* body .main .list .list__grid .list__item .list__btn .list__text-btn {
  font-family: "Roboto";
  color: white;
  font-size: 23px;
  font-weight: 700;
  line-height: 28.06px;
  margin-right: 15px;
}
@media screen and (max-width: 360px) {
  * body .main .list .list__grid .list__item .list__btn .list__text-btn {
    font-family: "Roboto";
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.72px;
  }
}
* body .main .form-block {
  width: 1170px;
  margin: 0 auto;
  padding-bottom: 135px;
  scroll-margin-top: 100px;
}
@media screen and (max-width: 1280px) {
  * body .main .form-block {
    width: 1000px;
  }
}
@media screen and (max-width: 1024px) {
  * body .main .form-block {
    width: 918px;
  }
}
@media screen and (max-width: 930px) {
  * body .main .form-block {
    width: 95vw;
  }
}
@media screen and (max-width: 360px) {
  * body .main .form-block {
    width: 318px;
    padding-bottom: 75px;
  }
}
* body .main .form-block .block-subtitle {
  text-wrap: balance;
}
@media screen and (max-width: 930px) {
  * body .main .form-block .block-subtitle {
    width: 100%;
  }
}
* body .main .form-block .form {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 33px;
  width: 100%;
  background-color: #FFFFFF;
  margin-top: 100px;
  padding: 70px;
  border-radius: 50px;
}
@media screen and (max-width: 1024px) {
  * body .main .form-block .form {
    padding: 60px;
    grid-column-gap: 20px;
  }
}
@media screen and (max-width: 360px) {
  * body .main .form-block .form {
    display: block;
    align-items: center;
    margin-top: 40px;
    padding: 20px 20px 40px 20px;
    border-radius: 30px;
  }
}
* body .main .form-block .form .form__item {
  width: 500px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1280px) {
  * body .main .form-block .form .form__item {
    width: 425px;
  }
}
@media screen and (max-width: 1024px) {
  * body .main .form-block .form .form__item {
    width: 389px;
  }
}
@media screen and (max-width: 930px) {
  * body .main .form-block .form .form__item {
    width: 35vw;
  }
}
@media screen and (max-width: 360px) {
  * body .main .form-block .form .form__item {
    width: 278px;
    height: 74px;
    margin-bottom: 30px;
  }
}
* body .main .form-block .form .form__item select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(./images/ic-dropdown.svg);
  background-repeat: no-repeat, repeat;
  background-position: right 21px top 50%, 0 0;
}
@media screen and (max-width: 360px) {
  * body .main .form-block .form .form__item select {
    background-position: right 11px top 50%, 0 0;
  }
}
* body .main .form-block .form .form__item select:required:invalid {
  color: gray;
}
* body .main .form-block .form .form__item select option {
  color: black;
}
* body .main .form-block .form .form__item .form__input {
  width: 500px;
  height: 68px;
}
@media screen and (max-width: 1280px) {
  * body .main .form-block .form .form__item .form__input {
    width: 425px;
  }
}
@media screen and (max-width: 1024px) {
  * body .main .form-block .form .form__item .form__input {
    width: 389px;
  }
}
@media screen and (max-width: 930px) {
  * body .main .form-block .form .form__item .form__input {
    width: 35vw;
  }
}
@media screen and (max-width: 360px) {
  * body .main .form-block .form .form__item .form__input {
    width: 278px;
    height: 43px;
    margin-bottom: 30px;
  }
}
* body .main .form-block .form .form__item .form__input,
* body .main .form-block .form .form__item .form__input-comment,
* body .main .form-block .form .form__item select {
  background-color: #F9F7F4;
  border-radius: 10px;
  border: none;
  padding: 20px;
  transition: 0.5s;
  font-family: "Roboto";
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
}
@media screen and (max-width: 360px) {
  * body .main .form-block .form .form__item .form__input,
  * body .main .form-block .form .form__item .form__input-comment,
  * body .main .form-block .form .form__item select {
    font-family: "Roboto";
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
    padding: 10px;
  }
}
* body .main .form-block .form .form__item .form__input::placeholder,
* body .main .form-block .form .form__item .form__input-comment::placeholder,
* body .main .form-block .form .form__item select::placeholder {
  font-family: "Roboto";
  color: #A6A6A6;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
}
@media screen and (max-width: 360px) {
  * body .main .form-block .form .form__item .form__input::placeholder,
  * body .main .form-block .form .form__item .form__input-comment::placeholder,
  * body .main .form-block .form .form__item select::placeholder {
    font-family: "Roboto";
    color: #A6A6A6;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
  }
}
* body .main .form-block .form .form__item .form__input:hover,
* body .main .form-block .form .form__item .form__input-comment:hover,
* body .main .form-block .form .form__item select:hover {
  cursor: pointer;
  background-color: #F4F0E9;
}
* body .main .form-block .form .form__item .form__input:focus,
* body .main .form-block .form .form__item .form__input-comment:focus,
* body .main .form-block .form .form__item select:focus {
  font-family: "Roboto";
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
  border: 1px solid #A6A6A6;
  outline: none;
}
@media screen and (max-width: 360px) {
  * body .main .form-block .form .form__item .form__input:focus,
  * body .main .form-block .form .form__item .form__input-comment:focus,
  * body .main .form-block .form .form__item select:focus {
    font-family: "Roboto";
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
    padding: 20px 10px;
  }
}
* body .main .form-block .form .form__item input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
* body .main .form-block .form .form__item .form__input-comment {
  width: 1030px;
  padding: 20px;
  height: 152px;
  resize: none;
}
@media screen and (max-width: 1280px) {
  * body .main .form-block .form .form__item .form__input-comment {
    width: 890px;
  }
}
@media screen and (max-width: 1024px) {
  * body .main .form-block .form .form__item .form__input-comment {
    width: 799px;
  }
}
@media screen and (max-width: 930px) {
  * body .main .form-block .form .form__item .form__input-comment {
    width: 75vw;
  }
}
@media screen and (max-width: 360px) {
  * body .main .form-block .form .form__item .form__input-comment {
    width: 278px;
    height: 132px;
  }
}
* body .main .form-block .form .form__item .form__input-comment::-webkit-scrollbar {
  width: 10px;
}
* body .main .form-block .form .form__item .form__input-comment::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}
* body .main .form-block .form .item_comment {
  grid-area: 4/1/4/3;
}
@media screen and (max-width: 360px) {
  * body .main .form-block .form .item_comment {
    height: 163px;
  }
}
* body .main .form-block .form .item_title {
  margin-bottom: 7px;
  font-family: "Roboto";
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
}
@media screen and (max-width: 1024px) {
  * body .main .form-block .form .item_title {
    letter-spacing: -0.08rem;
  }
}
@media screen and (max-width: 360px) {
  * body .main .form-block .form .item_title {
    font-family: "Roboto";
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
    margin-bottom: 8px;
    letter-spacing: 0;
  }
}
* body .main .form-block .form .form__radio {
  grid-area: 5/1/5/3;
}
* body .main .form-block .form .form__radio .radio_labels {
  display: flex;
  align-items: center;
}
* body .main .form-block .form .form__radio .radio_labels label {
  display: inline-block;
  font-family: "Roboto";
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
  cursor: pointer;
}
@media screen and (max-width: 360px) {
  * body .main .form-block .form .form__radio .radio_labels label {
    letter-spacing: -0.1rem;
  }
}
* body .main .form-block .form .form__radio .radio_labels label:not(:last-child) {
  margin-right: 26px;
}
* body .main .form-block .form .form__radio .radio_labels .radio {
  cursor: pointer;
  width: 26px;
  height: 26px;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 50%;
  border: 2px solid black;
  transition: 0.2s all ease-in;
  display: inline-grid;
  place-items: center;
  margin-right: 11px;
}
@media screen and (max-width: 360px) {
  * body .main .form-block .form .form__radio .radio_labels .radio {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 360px) {
  * body .main .form-block .form .form__radio .radio_labels .radio {
    margin-right: 7px;
  }
}
* body .main .form-block .form .form__radio .radio_labels .radio::after {
  content: "";
  border-radius: 50%;
  width: 0.85em;
  height: 0.85em;
}
@media screen and (max-width: 360px) {
  * body .main .form-block .form .form__radio .radio_labels .radio::after {
    width: 0.8em;
    height: 0.8em;
  }
}
* body .main .form-block .form .form__radio .radio_labels .radio:checked {
  border: 2px solid black;
}
* body .main .form-block .form .form__radio .radio_labels .radio:checked::after {
  background-color: black;
}
* body .main .form-block .form .form__checkbox {
  grid-area: 6/1/6/3;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 360px) {
  * body .main .form-block .form .form__checkbox {
    margin: 30px 0;
    align-items: start;
  }
}
* body .main .form-block .form .form__checkbox .checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: black 2px solid;
  width: 26px;
  height: 26px;
  border-radius: 5px;
  transition: 0.2s all ease-in;
  cursor: pointer;
}
@media screen and (max-width: 360px) {
  * body .main .form-block .form .form__checkbox .checkbox {
    width: 20px;
    height: 20px;
  }
}
* body .main .form-block .form .form__checkbox .checkbox:checked {
  border: 2px solid black;
  position: relative;
}
* body .main .form-block .form .form__checkbox .checkbox:checked::after {
  content: "";
  display: block;
  width: 7.12px;
  height: 12.24px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  bottom: 5px;
  right: 0;
  left: 0;
  margin: auto;
}
* body .main .form-block .form .form__checkbox label {
  font-family: "Roboto";
  color: #A6A6A6;
  font-size: 17px;
  font-weight: 400;
  line-height: 24.14px;
  margin-left: 19px;
  letter-spacing: -0.01em;
}
@media screen and (max-width: 1024px) {
  * body .main .form-block .form .form__checkbox label {
    margin-left: 11px;
  }
}
@media screen and (max-width: 360px) {
  * body .main .form-block .form .form__checkbox label {
    text-align: start;
    text-wrap: balance;
    width: 248px;
    font-family: "Roboto";
    color: #A6A6A6;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
  }
}
* body .main .form-block .form .form__checkbox label button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Roboto";
  color: black;
  font-size: 17px;
  font-weight: 400;
  line-height: 24.14px;
  letter-spacing: -0.01em;
  position: relative;
}
* body .main .form-block .form .form__checkbox label button::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 1px;
  background: black;
  transition: 0.5s;
}
* body .main .form-block .form .form__checkbox label button:hover::after {
  width: 100%;
}
* body .main .form-block .form .form__checkbox label button:active {
  font-family: "Roboto";
  color: #286562;
  font-size: 17px;
  font-weight: 400;
  line-height: 24.14px;
  text-decoration: underline;
}
@media screen and (max-width: 360px) {
  * body .main .form-block .form .form__checkbox label button:active {
    font-family: "Roboto";
    color: #286562;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
  }
}
@media screen and (max-width: 360px) {
  * body .main .form-block .form .form__checkbox label button {
    font-family: "Roboto";
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
  }
}
* body .main .form-block .form .form__buttons {
  grid-area: 7/1/7/3;
}
@media screen and (max-width: 360px) {
  * body .main .form-block .form .form__buttons {
    display: flex;
  }
}
* body .main .form-block .form .form__buttons .button-submit,
* body .main .form-block .form .form__buttons .button-reset {
  border: none;
  border-radius: 10px;
  width: 235px;
  height: 58px;
  cursor: pointer;
}
@media screen and (max-width: 360px) {
  * body .main .form-block .form .form__buttons .button-submit,
  * body .main .form-block .form .form__buttons .button-reset {
    width: 134px;
    height: 47px;
  }
}
* body .main .form-block .form .form__buttons .button-submit {
  font-family: "Roboto";
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
  background-color: #286562;
  margin-right: 30px;
  transition: 0.5s;
}
* body .main .form-block .form .form__buttons .button-submit:hover {
  background-color: #3B7E7B;
}
* body .main .form-block .form .form__buttons .button-submit:active {
  background-color: #627F7E;
}
@media screen and (max-width: 1024px) {
  * body .main .form-block .form .form__buttons .button-submit {
    margin-right: 26px;
  }
}
@media screen and (max-width: 360px) {
  * body .main .form-block .form .form__buttons .button-submit {
    font-family: "Roboto";
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
    margin-right: 10px;
  }
}
* body .main .form-block .form .form__buttons .button-reset {
  background-color: #E0F0E5;
  font-family: "Roboto";
  color: #286562;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
  transition: 0.5s;
}
* body .main .form-block .form .form__buttons .button-reset:hover {
  background-color: #F1F3F2;
}
* body .main .form-block .form .form__buttons .button-reset:active {
  background-color: #D9DFDB;
}
@media screen and (max-width: 360px) {
  * body .main .form-block .form .form__buttons .button-reset {
    font-family: "Roboto";
    color: #286562;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
  }
}
* body .main .reviews {
  padding-bottom: 135px;
  scroll-margin-top: 100px;
}
@media screen and (max-width: 360px) {
  * body .main .reviews {
    padding-bottom: 75px;
  }
}
* body .main .reviews .block-title {
  width: 529px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 930px) {
  * body .main .reviews .block-title {
    width: 80vw;
  }
}
@media screen and (max-width: 360px) {
  * body .main .reviews .block-title {
    width: 318px;
  }
}
* body .main .reviews .block-subtitle {
  width: 418px;
}
@media screen and (max-width: 930px) {
  * body .main .reviews .block-subtitle {
    width: 90vw;
  }
}
@media screen and (max-width: 360px) {
  * body .main .reviews .block-subtitle {
    width: 318px;
  }
}
* body .main .reviews .reviews__cards {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
@media screen and (max-width: 930px) {
  * body .main .reviews .reviews__cards {
    flex-direction: column;
    gap: 18px;
  }
}
@media screen and (max-width: 360px) {
  * body .main .reviews .reviews__cards {
    margin-top: 50px;
  }
}
* body .main .reviews .reviews__cards .reviews__card {
  width: 570px;
  height: 673px;
  background-color: #F4F0E9;
  border-radius: 50px;
  padding: 40px;
  position: relative;
}
@media screen and (max-width: 1280px) {
  * body .main .reviews .reviews__cards .reviews__card {
    width: 425px;
    height: 791px;
  }
}
@media screen and (max-width: 1024px) {
  * body .main .reviews .reviews__cards .reviews__card {
    width: 450px;
    height: 841px;
  }
}
@media screen and (max-width: 930px) {
  * body .main .reviews .reviews__cards .reviews__card {
    width: 90vw;
    margin: 0 auto;
    height: auto;
  }
}
@media screen and (max-width: 360px) {
  * body .main .reviews .reviews__cards .reviews__card {
    width: 318px;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
    height: auto;
  }
}
* body .main .reviews .reviews__cards .reviews__card:not(:last-child) {
  margin-right: 18px;
}
@media screen and (max-width: 360px) {
  * body .main .reviews .reviews__cards .reviews__card:not(:last-child) {
    margin-right: auto;
  }
}
* body .main .reviews .reviews__cards .reviews__card .reviews__text {
  font-family: "Roboto";
  color: black;
  font-size: 23px;
  font-weight: 700;
  line-height: 28.06px;
  margin-bottom: 0;
}
@media screen and (max-width: 360px) {
  * body .main .reviews .reviews__cards .reviews__card .reviews__text {
    font-family: "Roboto";
    color: black;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.72px;
  }
}
* body .main .reviews .reviews__cards .reviews__card .reviews__text + .reviews__text {
  margin-top: 28.06px;
}
@media screen and (max-width: 360px) {
  * body .main .reviews .reviews__cards .reviews__card .reviews__text + .reviews__text {
    margin-top: 25.72px;
  }
}
* body .main .reviews .reviews__cards .reviews__card .reviews__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 490px;
  position: absolute;
  bottom: 40px;
}
@media screen and (max-width: 1280px) {
  * body .main .reviews .reviews__cards .reviews__card .reviews__info {
    width: 355px;
  }
}
@media screen and (max-width: 1024px) {
  * body .main .reviews .reviews__cards .reviews__card .reviews__info {
    width: 370px;
  }
}
@media screen and (max-width: 930px) {
  * body .main .reviews .reviews__cards .reviews__card .reviews__info {
    width: 80vw;
  }
}
@media screen and (max-width: 460px) {
  * body .main .reviews .reviews__cards .reviews__card .reviews__info {
    width: 70vw;
    position: static;
    margin-top: 40px;
  }
}
@media screen and (max-width: 360px) {
  * body .main .reviews .reviews__cards .reviews__card .reviews__info {
    width: 278px;
  }
}
* body .main .reviews .reviews__cards .reviews__card .reviews__info .flex {
  display: flex;
  flex-direction: column;
}
* body .main .reviews .reviews__cards .reviews__card .reviews__info .reviews__name {
  font-family: "Roboto";
  color: black;
  font-size: 35px;
  font-weight: 500;
  line-height: 42.7px;
  margin-bottom: 8px;
}
@media screen and (max-width: 360px) {
  * body .main .reviews .reviews__cards .reviews__card .reviews__info .reviews__name {
    font-family: "Roboto";
    color: black;
    font-size: 23px;
    font-weight: 500;
    line-height: 42.6px;
    letter-spacing: 0.04rem;
  }
}
* body .main .reviews .reviews__cards .reviews__card .reviews__info .reviews__tour {
  font-family: "Roboto";
  color: #A6A6A6;
  font-size: 17px;
  font-weight: 400;
  line-height: 24.14px;
}
@media screen and (max-width: 360px) {
  * body .main .reviews .reviews__cards .reviews__card .reviews__info .reviews__tour {
    font-family: "Roboto";
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 11.72px;
    letter-spacing: -0.01rem;
  }
}
* body .main .reviews .reviews__cards .reviews__card .reviews__info .reviews_image {
  width: 75px;
  height: 75px;
  border-radius: 100px;
}
* body .main .gallery {
  padding-bottom: 135px;
}
@media screen and (max-width: 360px) {
  * body .main .gallery {
    padding-bottom: 75px;
  }
}
* body .main .gallery .gallery__list {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  * body .main .gallery .gallery__list {
    column-gap: 20px;
  }
  * body .main .gallery .gallery__list .hide {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  * body .main .gallery .gallery__list {
    column-gap: 16px;
    row-gap: 20px;
    margin-top: 50px;
  }
  * body .main .gallery .gallery__list .mobile {
    display: none;
  }
}
* body .main .gallery .gallery__list .gallery__item {
  border-radius: 50px;
  width: 442.5px;
  height: 300px;
  object-fit: cover;
}
@media screen and (max-width: 1024px) {
  * body .main .gallery .gallery__list .gallery__item {
    width: 314px;
  }
}
@media screen and (max-width: 360px) {
  * body .main .gallery .gallery__list .gallery__item {
    width: 150px;
    height: 110px;
    border-radius: 20px;
  }
}
* body .main .gallery .gallery__list .small-item {
  width: 347.32px;
  height: 301px;
  object-fit: cover;
}
@media screen and (max-width: 1024px) {
  * body .main .gallery .gallery__list .small-item {
    width: 231px;
  }
}
@media screen and (max-width: 360px) {
  * body .main .gallery .gallery__list .small-item {
    width: 94.33px;
    height: 110px;
    border-radius: 20px;
  }
}
* body .main .list-history {
  width: 1170px;
  margin: auto;
  padding-bottom: 135px;
  scroll-margin-top: 100px;
}
@media screen and (max-width: 1280px) {
  * body .main .list-history {
    width: 1000px;
  }
}
@media screen and (max-width: 1024px) {
  * body .main .list-history {
    width: 918px;
  }
}
@media screen and (max-width: 930px) {
  * body .main .list-history {
    width: 90vw;
  }
}
@media screen and (max-width: 360px) {
  * body .main .list-history {
    width: 360px;
    padding-bottom: 75px;
  }
}
* body .main .list-history .list-history__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  gap: 50px;
}
@media screen and (max-width: 1280px) {
  * body .main .list-history .list-history__cards {
    width: 80vw;
    margin: 100px auto 0;
  }
}
@media screen and (max-width: 1024px) {
  * body .main .list-history .list-history__cards {
    width: 918px;
  }
}
@media screen and (max-width: 930px) {
  * body .main .list-history .list-history__cards {
    width: 80vw;
  }
}
@media screen and (max-width: 360px) {
  * body .main .list-history .list-history__cards {
    width: 318px;
    margin: 50px auto 0;
    gap: 20px;
  }
}
* body .main .list-history .list-history__cards .card-history {
  width: 1170px;
  height: 567px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 50px;
}
@media screen and (max-width: 1280px) {
  * body .main .list-history .list-history__cards .card-history {
    width: 80vw;
  }
}
@media screen and (max-width: 1024px) {
  * body .main .list-history .list-history__cards .card-history {
    width: 918px;
  }
}
@media screen and (max-width: 930px) {
  * body .main .list-history .list-history__cards .card-history {
    width: 80vw;
    height: 600px;
  }
}
@media screen and (max-width: 360px) {
  * body .main .list-history .list-history__cards .card-history {
    width: 318px;
    height: 455px;
    border-radius: 20px;
  }
}
* body .main .list-history .list-history__cards .card-history:hover .img-history {
  transform: scale(1.2);
  transition: all 300ms ease-in;
}
* body .main .list-history .list-history__cards .card-history:hover .history-info .info-btn .list__btn {
  background-color: #286562;
  border-radius: 50px;
}
* body .main .list-history .list-history__cards .card-history .img-history {
  width: 1170px;
  height: 567px;
  border-radius: 50px;
  transition: all 300ms ease-out;
}
@media screen and (max-width: 1280px) {
  * body .main .list-history .list-history__cards .card-history .img-history {
    width: 80vw;
  }
}
@media screen and (max-width: 1024px) {
  * body .main .list-history .list-history__cards .card-history .img-history {
    width: 918px;
    object-fit: cover;
  }
}
@media screen and (max-width: 930px) {
  * body .main .list-history .list-history__cards .card-history .img-history {
    width: 80vw;
    height: 600px;
  }
}
@media screen and (max-width: 360px) {
  * body .main .list-history .list-history__cards .card-history .img-history {
    width: 318px;
    height: 455px;
    border-radius: 20px;
  }
}
* body .main .list-history .list-history__cards .card-history .history-info {
  position: absolute;
  height: 100%;
  padding: 60px;
  top: 0;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
}
@media screen and (max-width: 930px) {
  * body .main .list-history .list-history__cards .card-history .history-info {
    width: 80vw;
  }
}
@media screen and (max-width: 360px) {
  * body .main .list-history .list-history__cards .card-history .history-info {
    padding: 30px 25px 30px 30px;
    width: 263px;
  }
}
* body .main .list-history .list-history__cards .card-history .history-info .history-info__title {
  font-family: "Roboto";
  color: white;
  font-size: 35px;
  font-weight: 500;
  line-height: 42.7px;
  margin-bottom: 37px;
}
@media screen and (max-width: 360px) {
  * body .main .list-history .list-history__cards .card-history .history-info .history-info__title {
    margin-bottom: 20px;
    font-family: "Roboto";
    color: white;
    font-size: 23px;
    font-weight: 500;
    line-height: 27.6px;
    text-wrap: balance;
    letter-spacing: 0.07rem;
  }
}
* body .main .list-history .list-history__cards .card-history .history-info .history-info__subtitle, * body .main .list-history .list-history__cards .card-history .history-info .history-points {
  font-family: "Roboto";
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
  width: 554px;
}
@media screen and (max-width: 930px) {
  * body .main .list-history .list-history__cards .card-history .history-info .history-info__subtitle, * body .main .list-history .list-history__cards .card-history .history-info .history-points {
    width: 70vw;
  }
}
@media screen and (max-width: 460px) {
  * body .main .list-history .list-history__cards .card-history .history-info .history-info__subtitle, * body .main .list-history .list-history__cards .card-history .history-info .history-points {
    width: 60vw;
  }
}
@media screen and (max-width: 360px) {
  * body .main .list-history .list-history__cards .card-history .history-info .history-info__subtitle, * body .main .list-history .list-history__cards .card-history .history-info .history-points {
    font-family: "Roboto";
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
    width: 263px;
  }
}
* body .main .list-history .list-history__cards .card-history .history-info .history-points {
  margin-top: 28.4px;
  margin-left: 30px;
}
@media screen and (max-width: 360px) {
  * body .main .list-history .list-history__cards .card-history .history-info .history-points {
    margin-top: 25px;
    margin-left: 26px;
  }
}
* body .main .list-history .list-history__cards .card-history .history-info .info-btn {
  position: absolute;
  bottom: 60px;
  left: 39px;
  display: flex;
  align-items: center;
  height: 28px;
  width: 1072px;
  justify-content: space-between;
}
@media screen and (max-width: 1280px) {
  * body .main .list-history .list-history__cards .card-history .history-info .info-btn {
    width: 758px;
  }
}
@media screen and (max-width: 1024px) {
  * body .main .list-history .list-history__cards .card-history .history-info .info-btn {
    width: 818px;
  }
}
@media screen and (max-width: 930px) {
  * body .main .list-history .list-history__cards .card-history .history-info .info-btn {
    width: 80vw;
    bottom: 33px;
  }
}
@media screen and (max-width: 360px) {
  * body .main .list-history .list-history__cards .card-history .history-info .info-btn {
    width: 123px;
    left: 30px;
    bottom: 30px;
  }
}
* body .main .list-history .list-history__cards .card-history .history-info .info-btn .list__btn {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  width: 199px;
  cursor: pointer;
  padding: 7px 20px;
  transition: 0.5s;
}
@media screen and (max-width: 360px) {
  * body .main .list-history .list-history__cards .card-history .history-info .info-btn .list__btn {
    width: 84px;
    padding: 0;
  }
}
* body .main .list-history .list-history__cards .card-history .history-info .info-btn .list__btn:hover {
  background-color: #286562;
  border-radius: 50px;
}
@media screen and (max-width: 360px) {
  * body .main .list-history .list-history__cards .card-history .history-info .info-btn .list__btn:hover {
    background-color: transparent;
  }
}
* body .main .list-history .list-history__cards .card-history .history-info .info-btn .list__btn:active {
  background-color: #EFA501;
}
* body .main .list-history .list-history__cards .card-history .history-info .info-btn .list__btn .list__text-btn {
  font-family: "Roboto";
  color: white;
  font-size: 23px;
  font-weight: 700;
  line-height: 28.06px;
  margin-right: 15px;
}
@media screen and (max-width: 360px) {
  * body .main .list-history .list-history__cards .card-history .history-info .info-btn .list__btn .list__text-btn {
    font-family: "Roboto";
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.72px;
  }
}
@media screen and (max-width: 930px) {
  * body .main .list-history .list-history__cards .card-history .history-info .info-btn .social {
    display: none;
  }
}
* body .main .list-history .list-history__cards .card-history .history-info .info-btn .social button {
  font-family: "Roboto";
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}
* body .main .list-history .list-history__cards .card-history .history-info .info-btn .social button:not(:last-child) {
  margin-right: 32px;
}
* body .main .list-history .list-history__cards .card-history .history-info .info-btn .social button::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 1px;
  background: white;
  transition: 0.5s;
}
* body .main .list-history .list-history__cards .card-history .history-info .info-btn .social button:hover::after {
  width: 100%;
}
* body footer {
  background-color: #F9F7F4;
}
* body footer .email {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}
@media screen and (max-width: 930px) {
  * body footer .email {
    flex-direction: column;
  }
}
* body footer .email .email_img {
  width: 370px;
  height: 370px;
  border-radius: 50px;
}
@media screen and (max-width: 930px) {
  * body footer .email .email_img {
    width: 80vw;
    height: 80vw;
  }
}
@media screen and (max-width: 360px) {
  * body footer .email .email_img {
    width: 130px;
    height: 133px;
    border-radius: 20px;
  }
}
* body footer .email .email_info {
  width: 371px;
}
@media screen and (max-width: 930px) {
  * body footer .email .email_info {
    width: 80vw;
    text-align: center;
  }
}
@media screen and (max-width: 360px) {
  * body footer .email .email_info {
    width: 291px;
  }
}
* body footer .email .email_info .email_title {
  font-family: "Roboto";
  color: black;
  font-size: 35px;
  font-weight: 500;
  line-height: 42.7px;
  margin-bottom: 20px;
}
@media screen and (max-width: 360px) {
  * body footer .email .email_info .email_title {
    font-family: "Roboto";
    color: black;
    font-size: 23px;
    font-weight: 500;
    line-height: 27.6px;
    text-align: center;
    letter-spacing: 0.06rem;
  }
}
* body footer .email .email_info .email_subtitle {
  font-family: "Roboto";
  color: #A6A6A6;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
}
@media screen and (max-width: 360px) {
  * body footer .email .email_info .email_subtitle {
    font-family: "Roboto";
    color: #A6A6A6;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
    text-align: center;
  }
}
* body footer .email .email_info .email_subtitle .email_btn {
  font-family: "Roboto";
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 22.72px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}
@media screen and (max-width: 360px) {
  * body footer .email .email_info .email_subtitle .email_btn {
    font-family: "Roboto";
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
  }
}
* body footer .email .email_info .email_subtitle .email_btn::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 1px;
  background: black;
  transition: 0.5s;
}
* body footer .email .email_info .email_subtitle .email_btn:hover::after {
  width: 100%;
}
* body footer .email .email_info .email_subtitle .email_btn:active {
  color: #286562;
}
* body footer .footer_navigation {
  background-color: #F4F0E9;
  height: 88px;
}
@media screen and (max-width: 1024px) {
  * body footer .footer_navigation {
    height: 95px;
  }
}
* body footer .footer_navigation .navigation__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1168px;
  margin: 135px auto 0;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width: 1280px) {
  * body footer .footer_navigation .navigation__container {
    width: 980px;
  }
}
@media screen and (max-width: 1024px) {
  * body footer .footer_navigation .navigation__container {
    width: 918px;
  }
}
@media screen and (max-width: 930px) {
  * body footer .footer_navigation .navigation__container {
    width: 80vw;
    flex-direction: column;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 360px) {
  * body footer .footer_navigation .navigation__container {
    width: 318px;
    margin-top: 74px;
    padding: 21px 0;
  }
}
* body footer .footer_navigation .navigation__container .navigation__title {
  font-family: "Roboto";
  color: #A6A6A6;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
}
@media screen and (max-width: 360px) {
  * body footer .footer_navigation .navigation__container .navigation__title {
    font-family: "Roboto";
    color: #A6A6A6;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
  }
}
* body footer .footer_navigation .navigation__container .social {
  display: flex;
  gap: 25px;
}
@media screen and (max-width: 930px) {
  * body footer .footer_navigation .navigation__container .social {
    gap: 15px;
  }
}
* body footer .footer_navigation .navigation__container .social .navigation__social {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
@media screen and (max-width: 930px) {
  * body footer .footer_navigation .navigation__container .social .navigation__social {
    gap: 5px;
  }
}
@media screen and (max-width: 360px) {
  * body footer .footer_navigation .navigation__container .social .navigation__social {
    margin-top: 7px;
  }
  * body footer .footer_navigation .navigation__container .social .navigation__social .social_icon {
    width: 22px;
    height: 22px;
  }
}
* body footer .footer_navigation .navigation__container .social .navigation__social .social_name {
  position: relative;
  font-family: "Roboto";
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
}
@media screen and (max-width: 930px) {
  * body footer .footer_navigation .navigation__container .social .navigation__social .social_name {
    font-size: 18px;
  }
}
@media screen and (max-width: 360px) {
  * body footer .footer_navigation .navigation__container .social .navigation__social .social_name {
    font-family: "Roboto";
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
  }
}
* body footer .footer_navigation .navigation__container .social .navigation__social .social_name::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 1px;
  background: black;
  transition: 0.5s;
}
* body footer .footer_navigation .navigation__container .social .navigation__social .social_name:hover::after {
  width: 100%;
}

/*# sourceMappingURL=yourTour.css.map */
